{% extends "layout.html.twig" %}

{% block title %}Pizza{% endblock %}

{% block stylesheets %}
    
{% endblock %}

{% block body %}
    <section>
        <article>
            <h2>Présentation</h2>
            <p>
                Bienvenue sur l'application de commande de pizzas en ligne&nbsp;!
            </p>
            <p>
                Ici vous pourrez consulter nos pizzas et passer votre commande pour être
                livré chez vous.
            </p>
            <div class="well">
                <p>
                    Une petite faim&nbsp;?
                </p>
                <p>
                    <a class="btn btn-primary" href="#">C'est par ici &raquo;</a>
                </p>
            </div>
        </article>
    </section>
{% endblock %}